[Unit]
Description=uWSGI instance for Alex training App
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/training/alex-app/training
Environment="PATH=/home/ubuntu/training/alex-app/training/bin"
ExecStart=/home/ubuntu/training/alex-app/training/bin/uwsgi --ini uwsgi.ini